<h1>_-_ MY LORD, I HAVE HERE YOUR LIST OF ARTICLES _-_</h1>

<p>
  <%= link_to "I WANT TO CREATE A NEW ARTICLE", new_article_path %> 
</p>


<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>
  
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to 'EDIT', edit_article_path(article) %></td>
    <td><%= link_to 'SHOW', article_path(article) %></td>
    
  </tr>
  <% end %>
</table>