<div class="container">
  <h1>CURRENT LIST OF ARTICLES</h1></br>
  
  <p>
    <%= link_to "I WANT TO CREATE A NEW ARTICLE", new_article_path %> 
  </p>
  
  
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
    </tr>
    
    <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <td><%= link_to 'EDIT', edit_article_path(article) %></td>
      <td><%= link_to 'SHOW', article_path(article) %></td>
      <td><%= link_to "INCINERATE", article_path(article), method: :delete, data: {confirm: "Are You Sure?"} %></td>
      
    </tr>
    <% end %>
  </table>
</div>